* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin-top: 47px;
    margin-left: 42px;
}
.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #17233D;
    cursor: pointer;
    margin-right: 32px;
}
.button-header {
    background: #6FBF44;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    border: 1px solid #4CB538 ;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}
.logo-image {
    width: 595px;
    height: 500px;
    margin-left: 121px;
    margin-top: 163px;
    display: inline-block;
}
section {
    display: inline-block;
    margin-left: 85px;
}
h1 {
    width: 582px;
    height: 164px;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
    letter-spacing: 0.596154px;
}
p {
    width: 493px;
    height: 99px;
    margin-top: 47px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    margin-bottom: 55px;
}
.link-continue {
    width: 112px;
    height: 27px;
    margin-top: 55px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    cursor: pointer;
}